mixin storeForm(store = {})

  form(class="card" action=`/add/${store._id || ''}` method="POST")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(type="text" name="description")= store.description
    //- address, lng, lat
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
    label(for="lng") Longitude
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]))
    label(for="lat") Latitude
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]))
    - const tags = ['Vegan', 'Free Wifi', '50% Off', 'Ocean View']
    - const choices = store.tags || []
    ul.tags
      each tag in tags
        li.tag.tag__choice
          input(type='checkbox' name='tags' id=tag value=tag checked=(choices.includes(tag)))
          label(for=tag)= tag
    input(type="Submit" value="Save" class="button")
